* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	transition: .25s all ease;
}

@font-face {
    font-family: "TheGwatmey";
    src: url("../textfonts/TheGwathmey.woff") format("woff");
}

@font-face {
    font-family: "EBGaramondItalic";
    src: url("../textfonts/EBGaramond-Italic.woff") format("woff");
}

/*added*/ @font-face {
    font-family: "Karima";
    src: url("../textfonts/Karima.ttf") format("truetype");
}

/*added*/ @font-face {
    font-family: "Display-Magazine";
    src: url("../textfonts/Display-Magazine.ttf") format("truetype");
}

/*added*/ @font-face {
    font-family: "Magistral-Honesty";
    src: url("../textfonts/Magistral-Honesty.ttf") format("truetype");
}


html {
    font-size: 10px;
    font-family: "Josefin Sans", sans-serif;
    min-width: 65rem;
}

:root {
    --primary-color: #1d1d1d;        
}

.container,
.small-container,
.medium-container {
    width: 100%;
    max-width: 130rem;
    margin: auto;
    padding: 0 2rem;
}

.small-container {
    max-width: 100rem;
}

.medium-container {
    max-width: 120rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}